{% extends 'appointment/base.html' %}
{% load static %}

{% block title%}ログイン{% endblock%}

{% block style %}
<style type="text/css">
.datepicker-days th.dow:first-child,
.datepicker-days td:first-child {
  color: #f00;
}
.datepicker-days th.dow:last-child,
.datepicker-days td:last-child {
  color: #00f;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card">
        <div class="card-header">
        
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
            <p class="text-danger">
              <i class="fas fa-exclamation-triangle pe-2"></i>{{ error }}
            </p>
            {% endfor %}
            
            <span>{{ form.visit_date.label_tag }}</span>
            <div class="input-group date mb-3" id="date-picker" data-target-input="nearest">
              {{ form.visit_date }}{{ form.visit_date.errors }}
              <div class="input-group-text" data-target="#date-picker" data-toggle="datetimepicker">
                <i class="far fa-calendar-alt"></i>
              </div>
            </div>
            
            <span>{{ form.visit_time.label_tag }}</span>
            <div class="input-group date mb-3" id="time-picker" data-target-input="nearest">
              {{ form.visit_time }}{{ form.visit_time.errors }}
              <div class="input-group-text" data-target="#time-picker" data-toggle="datetimepicker">
                <i class="far fa-clock"></i>
              </div>
            </div>
            
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">送信</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>






{% endblock%}

{% block script %}
<script type="text/javascript">
$(function() {
  $('#date-picker').datetimepicker({
  dayViewHeaderFormat: 'YYYY年 MMMM',
  tooltips: {
      close: '閉じる',
      selectMonth: '月を選択',
      prevMonth: '前月',
      nextMonth: '次月',
      selectYear: '年を選択',
      prevYear: '前年',
      nextYear: '次年',
      selectTime: '時間を選択',
      selectDate: '日付を選択',
      prevDecade: '前期間',
      nextDecade: '次期間',
      selectDecade: '期間を選択',
      prevCentury: '前世紀',
      nextCentury: '次世紀',
    },
  timepicker: false,
  format: 'YYYY/MM/DD',
  locale: 'ja',
  icons: {
      time: 'far fa-clock',
      date: 'far fa-calendar-alt',
      up: 'fas fa-arrow-up',
      down: 'fas fa-arrow-down',
    },
    buttons: {
      showClose: true,
    },
  });
  
  
  $('#time-picker').datetimepicker({
    tooltips: {
      close: '閉じる',
      pickHour: '時間を取得',
      incrementHour: '時間を増加',
      decrementHour: '時間を減少',
      pickMinute: '分を取得',
      incrementMinute: '分を増加',
      decrementMinute: '分を減少',
      pickSecond: '秒を取得',
      incrementSecond: '秒を増加',
      decrementSecond: '秒を減少',
      togglePeriod: '午前/午後切替',
      selectTime: '時間を選択',
    },
    datepicker: false,
    format: 'HH:mm',
    locale: 'ja',
    icons: {
      time: 'far fa-clock',
      date: 'far fa-calendar-alt',
      up: 'fas fa-arrow-up',
      down: 'fas fa-arrow-down',
    },
    buttons: {
      showClose: true,
    },
  });
  
  
});

</script>
{% endblock %}