{% extends 'appointment/base.html' %}
{% load static %}

{% block title%}ログイン{% endblock%}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              {{ form.name.label_tag }}
              {{ form.name }}
              {{ form.name.error }}
            </div>
            <div class="mb-3">
              {{ form.phone_number.label_tag }}
              {{ form.phone_number }}
              <div id="phoneNumberHelp" class="form-text">{{ form.phone_number.help_text }}</div>
              {{ form.phone_number.errors }}
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">送信</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}