<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  
  <!-- Bootstrap CSS -->
  <link href="{% static 'plugin/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
  
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="{% static 'plugin/fontawesome-free-5.15.3-web/css/all.css' %}">
  
  <!-- datetimepicker CSS -->
  <link href="{% static 'plugin/Bootstrap-4-Date-Time-Picker/build/css/tempusdominus-bootstrap-4.css' %}" rel="stylesheet">
  
  {% block style %}{% endblock %}

</head>

<body>
  {% block navbar %}{% endblock %}
  {% block content %}{% endblock %}

  <!-- jQuery -->
  <script src="{% static 'plugin/jQuery/jquery-3.6.0.min.js' %}"></script>
  
  <!-- Bootstrap JS -->
  <script src="{% static 'plugin/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
  
  <!-- datetimepicker for bootstrap4 JS -->
  <script src="{% static 'plugin/Customizable Date & Time Picker For Bootstrap 4/moment-with-locales.min.js' %}"></script>
  
  <!-- datetimepicker JS -->
  <script src="{% static 'plugin/Bootstrap-4-Date-Time-Picker/build/js/tempusdominus-bootstrap-4.js' %}"></script>
{% block script %} {% endblock %}
</body>
</html>